.footer-top {
    padding: 40px 0;
    background-color: var(--accent-dark-blue-color);
}

.footer-top-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
}

.footer-logo {
    width: 79px;
    height: 72px;
    position: relative;

    .logo-img-1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo-img-2 {
        position: absolute;
        top: 11px;
        left: 31px;
    }

    div {
        position: absolute;
        bottom: 0;
    }

    p {
        font-family: Unbounded;
        font-weight: 700;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: -1%;
        color: var(--text-white);
    }
}

.footer-top-social-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-center {
    padding: 38px 0;
    border-bottom: 1px solid var(--text-black);
}

.footer-center-wrap {
    display: flex;
    align-items: center;
}

.footer-center-title {
    margin-right: 18px;
}

.footer-center-text {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-center-block-text {
    display: flex;
    align-items: center;
}

.footer-center-author {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 12px;
}

.footer-center-name {
    text-decoration: underline;
}

.footer-bottom {
    padding: 25px 0;
}

@media (min-width: 768px) and (max-width: 1259px) {
    .footer-top {
        padding: 20px 0;
    }

    .footer-center {
        padding: 29px 0px 21px 0px;
    }

    .footer-center-title {
        max-width: 131px;
        margin-right: 45px;
    }

    .footer-center-text {
        gap: 16px;
    }

    .footer-center-block-text {
        align-items: baseline;
    }

    .footer-center-author {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }
}

@media (max-width: 767px) {

    .footer-top-wrapp {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer-top-nav {
        width: 100%;
        justify-content: space-between;
    }

    .footer-center {
        padding: 39px 0px 30px 0px;
    }

    .footer-center-wrap {
        flex-direction: column;
        gap: 18px;
    }

    .footer-center-title {
        margin-right: 0px;
    }

    .footer-center-text {
        flex-direction: column;
        gap: 4px;
    }

    .footer-bottom {
        padding: 30px 0;
    }

    .footer-bottom-text {
        text-align: center;
    }
}