.how {
    background-color: var(--bg-howitwork);
    padding: 120px 0;
    height: 980px;
    background-image: url(../../assets/vector-how.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.how-container {
    display: flex;
    flex-direction: column;
}

.how-title {
    text-align: center;
    margin-bottom: 80px;
}

.how-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-item-1 {
    position: relative;
    display: inline-block;
    background-color: var(--bg-dark-white);
    border: 2px solid var(--text-white);
    padding: 30px 40px;
    border-radius: 20px;
    max-width: 500px;
    transform: rotate(-2deg);

    &::before {
        content: '';
        position: absolute;
        top: -92px;
        left: -333px;
        background-image: url(../../assets/step1.png);
        width: 339px;
        height: 196px;
    }
}

.how-item-1-step,
.how-item-2-step,
.how-item-3-step {
    position: absolute;
    top: -22px;
    left: 40px;
    background-color: var(--accent-orange-color);
    padding: 5px 16px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    color: var(--text-white);
}

.how-item-2 {
    position: relative;
    right: 88px;
    top: 31px;
    display: inline-block;
    border: 2px solid var(--text-white);
    background-color: var(--bg-dark-white);
    padding: 30px 40px;
    border-radius: 20px;
    max-width: 614px;
    transform: rotate(4deg);

    &::after {
        content: '';
        position: absolute;
        top: -162px;
        right: -178px;
        background-image: url(../../assets/step2.png);
        width: 197px;
        height: 297px;
    }
}

.how-item-3 {
    position: relative;
    left: 88px;
    top: 70px;
    display: inline-block;
    border: 2px solid var(--text-white);
    background-color: var(--accent-dark-blue-color);
    padding: 30px 40px;
    border-radius: 20px;
    max-width: 500px;
    color: var(--text-white);
    transform: rotate(-2deg);

    &::before {
        content: '';
        position: absolute;
        top: -47px;
        left: -220px;
        background-image: url(../../assets/step3.png);
        width: 293px;
        height: 266px;
    }
}

.how-btn-box {
    display: flex;
    justify-content: center;
    margin-top: 155px;
}

@media (min-width: 768px) and (max-width: 1259px) {

    .how {
        padding: 90px 0;
        height: 781px;
        background-image: url(../../assets/tablet/vector-how-tablet.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .how-title {
        margin-bottom: 55px;
    }

    .how-item-1 {
        left: 65px;
        padding: 30px;
        max-width: 406px;

        &::before {
            top: -46px;
            left: -197px;
            background-image: url(../../assets/tablet/step1-tablet.png);
            width: 200px;
            height: 116px;
        }
    }

    .how-item-1-step,
    .how-item-2-step,
    .how-item-3-step {
        top: -20px;
        left: 30px;
        font-size: 22px;
        line-height: 26.4px;
    }

    .how-item-2 {
        right: 25px;
        top: 18px;
        padding: 30px;
        max-width: 530px;

        &::after {
            top: -30px;
            right: -87px;
            background-image: url(../../assets/tablet/step2-tablet.png);
            width: 105px;
            height: 158px;
        }
    }

    .how-item-3 {
        left: -16px;
        top: 43px;
        padding: 30px;
        max-width: 400px;

        &::before {
            top: 27px;
            left: -116px;
            background-image: url(../../assets/tablet/step3-tablet.png);
            width: 154px;
            height: 140px;
        }
    }

    .how-btn-box {
        margin-top: 90px;
    }

    .how-btn {
        padding: 14px 36px;
    }

}

@media (max-width: 767px) {

    .how {
        padding: 90px 0;
        height: 1017px;
        background-image: url(../../assets/mobile/vector-how-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .how-title {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .how-item-1 {
        top: 72px;
        left: -29px;
        padding: 20px;
        max-width: 262px;

        &::before {
            content: '';
            position: absolute;
            top: -70px;
            left: 155px;
            background-image: url(../../assets/mobile/step1-mobile.png);
            width: 170px;
            height: 90px;
        }
    }

    .how-item-1-step,
    .how-item-3-step {
        top: -20px;
        left: 20px;
        font-size: 22px;
        line-height: 26.4px;
    }

    .how-item-2-step {
        top: -20px;
        left: 143px;
        font-size: 22px;
        line-height: 26.4px;
    }

    .how-item-2 {
        right: -29px;
        top: 108px;
        padding: 20px;
        max-width: 262px;

        &::after {
            top: -16px;
            right: 246px;
            background-image: url(../../assets/mobile/step2-mobile.png);
            width: 81px;
            height: 122px;
        }
    }

    .how-item-3 {
        left: -30px;
        top: 141px;
        padding: 20px;
        max-width: 262px;

        &::before {
            top: -27px;
            left: 222px;
            background-image: url(../../assets/mobile/step3-mobile.png);
            width: 119px;
            height: 109px;
        }
    }

    .how-btn-box {
        margin-top: 245px;
    }

}