.comment-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 40px;
}

.comment-total-wrapp {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-total-wrapp::before {
    content: "";
    position: absolute;
    left: 24px;
    top: 55px;
    bottom: 10px;
    width: 2px;
    background-color: var(--text-inactive-grey);
}

.comment-top-section {
    display: flex;
    gap: 13px;
}

.comment-center-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 61px;
}

.comment-center-options {
    display: flex;
    gap: 20px;
}

.comment-options-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--accent-blue-color);
}

.comment-btn-like {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: var(--bg-input-inactive);

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.59px;
        color: var(--text-black);
    }
}

.comment-list-reply-container {
    margin-left: 61px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-bottom-section {
    position: relative;
    margin-left: 61px;
}

.comment-bottom-section::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -35px;
    width: 28px;
    height: 2px;
    background-color: var(--text-inactive-grey);
}

.comment-list-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-list-btn-text {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-grey-dark);
}

.comment-avatar {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;

    img {
        object-fit: cover;
    }
}

.comment-right {
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-content {
    padding: 15px;
    background-color: var(--bg-input-inactive);
    border-radius: 20px;
}

.comment-author {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 7px;
}

.comment-nikname {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);
}

.comment-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--text-placeholder-focus);
}

.comment-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
}

.comment-notcomment-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-black);
    padding-left: 40px;
}