.ap {
    position: relative;
    background-color: var(--bg-blue);
    padding: 120px 0;
    background-image: url(../assets/vector2.png), url(../assets/vector3.png);
    background-position: right, left bottom;
    background-repeat: no-repeat, no-repeat;
}

.ap-vector-big {
    position: absolute;
    top: 100px;
    right: 80px;
}

.ap-vector-small {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ap-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--text-black);
    margin-bottom: 40px;
}

.ap-slide {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 467px;
    padding: 83px 98px 0 0;
    background-image: url(../assets/stroke.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 82px;
}

.ap-slide-info {
    position: relative;
    padding: 65px 80px;
    border-radius: 200px;
    background-color: var(--accent-blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
    width: fit-content;
    margin-left: auto;
}

.ap-slide-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-white);
    text-align: center;
    margin-bottom: 18px;
    display: inline-block;
}

.ap-slide-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
    text-align: center;
}

.ap-btn-box {
    margin-top: 166px;
    display: inline-block;
}

.ap-slide-bubble {
    position: absolute;
    bottom: -50px;
    right: 60px;
    padding: 30px 67px;
    border-radius: 100px;
    background-color: var(--accent-yellow-color);

    &::after {
        content: '';
        position: absolute;
        right: -32px;
        top: 13%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 0 30px 63px;
        border-color: transparent transparent transparent var(--accent-yellow-color);
    }
}

.ap-slide-speech {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-blue-color);
}

.ap-slide-img-leter {
    position: absolute;
    bottom: -60px;
    left: 50px;
}

.ap-btn-box {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ap-btn {
    padding: 20px 56px;
    border: 1px solid var(--accent-blue-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.ap-btn-learn {
    color: var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}

.ap-btn-start {
    background-color: var(--accent-blue-color);
    color: var(--text-white);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}