.ap {
    position: relative;
    background-color: var(--bg-about);
    padding: 120px 0;
    background-image: url(../assets/about-vector-1.png), url(../assets/about-vector-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right 100px;
}

.ap-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--text-black);
    margin-bottom: 40px;
}

.ap-video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    overflow: hidden;
    background-color: transparent;
}

.ap-video-element {
    width: 100%;
    object-fit: cover;
}

.ap-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--text-input);
    color: var(--text-white);
}

.ap-btn-box {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 82px;
}

.ap-btn {
    padding: 20px 56px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.ap-btn-learn {
    border: 1px solid var(--text-accent-blue-color);
    color: var(--text-accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}

.ap-btn-start {
    border: 1px solid var(--bg-accent-blue-color);
    background-color: var(--bg-accent-blue-color);
    color: var(--text-white);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}

@media (min-width: 768px) and (max-width: 1259px) {
    .ap {
        padding: 90px 0;
        background-image: none, url(../assets/about-vector-2.png);
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right 100px;
    }

    .ap-title {
        text-align: center;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 52px;
    }

    .ap-btn-box {
        flex-direction: column;
        align-items: center;
        margin-top: 93px;
    }
}

@media (max-width: 767px) {
    .ap {
        padding: 90px 0;
        background-image: none;
    }

    .ap-title {
        text-align: center;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 34px;
    }

    .ap-play-button {
        width: 60px;
        height: 60px;
    }

    .ap-btn-box {
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }

    .ap-btn {
        padding: 10px 26px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }
}