.ap {
    background-color: var(--bg-blue);
    padding: 120px 0;
}

.ap-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--text-black);
    margin-bottom: 40px;
}

.ap-slide {
    width: 100%;
    min-height: 467px;
    padding: 83px 98px 0 0;
    background-image: url(../assets/stroke.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 82px;
}

.ap-slide-info {
    padding: 65px 40px;
    border-radius: 200px;
    background-color: var(--accent-blue-color);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px; */
}

.ap-slide-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-white);
    text-align: center;
    margin-bottom: 18px;
}

.ap-slide-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
    text-align: center;
}

.ap-btn-box {
    margin-top: 166px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ap-btn {
    padding: 20px 56px;
    border: 1px solid var(--accent-blue-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.ap-btn-learn {
    color: var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}

.ap-btn-start {
    background-color: var(--accent-blue-color);
    color: var(--text-white);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}

/* .ap-slide1 {
    position: relative;
}

.ap-slide1-img-stroke {
    border-radius: 30px;
}

.ap-slide1-img-map {
    position: absolute;
    top: 0;
    left: 0;
}

.ap-slide1-img-leter {
    position: absolute;
    bottom: -25px;
    left: 50px;
}

.ap-slide1-info {
    position: absolute;
    top: 107px;
    right: 98px;
    padding: 103px 80px;
    border-radius: 100px;
    background-color: var(--accent-blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.ap-slide1-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-white);
}

.ap-slide1-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
    text-align: center;
    max-width: 610px;
}

.ap-slide1-bubble {
    position: absolute;
    top: 394px;
    right: 156px;
    padding: 45px 67px;
    border-radius: 100px;
    background-color: var(--accent-yellow-color);

    &::after {
        content: '';
        position: absolute;
        right: -32px;
        top: 13%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 46px 0 46px 63px;
        border-color: transparent transparent transparent var(--accent-yellow-color);
    }
}

.ap-slide1-speech {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-blue-color);
} */