.hero {
    padding: 35px 0px 0px 0px;
    margin-bottom: 45px;
}

.hero-wrapper {
    display: flex;
}

.hero-title-box {
    margin-top: 50px;
    margin-bottom: 57px;
    max-width: 514px;
    flex: 1;
}

.hero-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 93.5px;
    color: var(--accent-blue-color);
    margin-bottom: 20px;
}

.hero-title-learn {
    display: inline-block;
    width: 260px;
    height: 92px;
    border: 3px solid var(--accent-yellow-color);
    border-radius: 100px;
    color: var(--accent-yellow-color);
    text-align: center;
}

.hero-text {
    max-width: 487px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-black);
    margin-bottom: 23px;
}

.hero-btn {
    display: inline-block;
    padding: 20px 56px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
    background-color: var(--accent-blue-color);
    border-radius: 30px;

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}

.hero-image-box {
    position: relative;
    width: 686px;
    flex: 1;
}

.hero-image {
    margin-top: 15px;
    width: 100%;
    height: auto;
    transform: scale(1.2);
}



@media (min-width: 768px) and (max-width: 1439px) {
    .hero {
        padding: 0px;
        margin-bottom: 30px;
    }

    .hero-title-box {
        margin-top: 23px;
        margin-bottom: 0px;
        max-width: 328px;
    }

    .hero-title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 0px;
    }

    .hero-title-learn {
        width: 156px;
        height: 55px;
        border: 2px solid var(--accent-yellow-color);
        border-radius: 60px;
    }

    .hero-text {
        max-width: 325px;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 28px;
    }

    .hero-image-box {
        position: relative;
        width: 352px;
        flex: 1;
    }

    .hero-image {
        width: 100%;
        height: auto;
        transform: scale(1.1);
    }
}

@media (max-width: 767px) {
    .hero {
        margin-bottom: 40px;
        padding: 0;
    }

    .hero-wrapper {
        flex-direction: column-reverse;
    }

    .hero-title-box {
        margin: 0;
        margin-top: -40px;
        width: 100%;
    }

    .hero-title {
        width: 100%;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 31px;
        text-align: center;
    }

    .hero-title-learn {
        width: 156px;
        height: 55px;
        border: 2px solid var(--accent-yellow-color);
        border-radius: 60px;
    }

    .hero-text {
        width: 100%;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }

    .hero-btn-box {
        display: flex;
        justify-content: center;
    }

    .hero-image-box {
        width: 100%;
        flex: 1;
    }

    .hero-image {
        margin-top: 0;
        width: 100%;
        height: auto;
        transform: scale(1.1);
    }
}