.home-content {
    padding-bottom: 120px;
}

.home-list-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
}

.home-list-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-no-post-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-black);
    text-decoration: underline;
}

.home-see-more-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.home-btn-see-more {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
    padding: 20px 56px;
    background-color: var(--bg-accent-blue-color);
    border-radius: 30px;

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}



@media (min-width: 768px) and (max-width: 1259px) {
    .home-content {
        padding-bottom: 90px;
    }

    .home-list-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 26px;
    }

    .home-list-list {
        gap: 20px;
    }

    .home-see-more-container {
        margin-top: 40px;
    }

}

@media (max-width: 767px) {
    .home-content {
        padding-bottom: 90px;
    }

    .home-list-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
    }

    .home-see-more-container {
        margin-top: 40px;
    }

}