.home-list-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px 24px;
    margin-bottom: 65px;
}

.home-list-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 65px;
}

.home-no-post-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-black);
    text-decoration: underline;
}