.home-list-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    margin-bottom: 50px;
}

.home-list-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.home-no-post-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-black);
    text-decoration: underline;
}

.home-pagination {
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.home-btn {
    display: flex;
    align-items: center;
    color: var(--accent-blue-color);
}

.home-btn-number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--accent-blue-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-blue-color);
}

.home-btn-number-active {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--accent-blue-color);
    border: 1px solid var(--accent-blue-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
}

@media (min-width: 768px) and (max-width: 1259px) {
    .home-list-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 26px;
        margin-bottom: 40px;
    }

    .home-list-list {
        gap: 20px;
        margin-bottom: 40px;
    }

    .home-pagination {
        gap: 20px;
        margin-bottom: 90px;
    }

    .home-btn-number {
        width: 50px;
        height: 50px;
    }

    .home-btn-number-active {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 767px) {
    .home-list-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        margin-bottom: 40px;
    }

    .home-pagination {
        gap: 20px;
        margin-bottom: 90px;
    }

    .home-btn-number {
        display: none;
    }

    .home-btn-number-active {
        display: none;
    }
}