.letter {
    padding-bottom: 120px;
    background-image: url(../assets/vector-letter.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.letter-wrapper {
    background-color: #FFFFFFB2;
    backdrop-filter: blur(50px);
    box-shadow: 0px 4px 20px 0px #094EBE33;
    border-radius: 30px;
    padding: 71px 97px 101px 81px;
    display: flex;
    gap: 41px;
}

.letter-img-brackets {
    display: block;
}

.letter-author {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}

.letter-avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.letter-nickname {
    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: var(--text-black);
    }

    span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.4px;
        color: var(--text-grey-light);
        text-transform: uppercase;
    }
}

.letter-text-box {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 29px;

    p {
        font-weight: 700;
        font-size: 24px;
        line-height: 31.2px;
        color: var(--text-black);
    }
}

.letter-frame {
    position: relative;
    background-image: url(../assets/frame.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letter-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-black);
    text-align: center;
    margin-bottom: 26px;
}

.letter-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 30px;
    padding: 14px 36px;
    color: var(--text-white);
    background-color: var(--accent-blue-color);
    margin-bottom: 20px;

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}

.letter-attention {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--text-grey-dark);
}

.letter-img {
    position: absolute;
    bottom: -30%;
    left: 5%;
    width: 166px;
    height: auto;
}


@media (min-width: 768px) and (max-width: 1259px) {
    .letter {
        padding: 60px 0px;
        background-color: var(--bg-white);
        background-image: url(../assets/tablet/vector-letter-tablet.png);
    }

    .letter-author {
        position: relative;
        margin-top: 79px;

        &::after {
            position: absolute;
            content: '';
            top: -77px;
            left: 0;
            width: 126px;
            height: 103px;
            background-image: url(../assets/tablet/brackets-tablet.png);
        }
    }

    .letter-avatar {
        z-index: 2;
    }

    .letter-nickname {
        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 16.8px;
            color: var(--text-grey-light);
            text-transform: none;
        }
    }

    .letter-text-box {
        gap: 32px;
        margin-bottom: 40px;

        p {
            font-size: 22px;
            line-height: 22.8px;
        }
    }

    .letter-frame {
        background-image: url(../assets/tablet/frame-letter-tablet.png);
        display: block;
        padding: 40px 0 0 75px;
        margin-bottom: 77px;
    }

    .letter-title {
        font-size: 22px;
        line-height: 26.4px;
        text-align: start;
        margin-bottom: 46px;
    }

    .letter-btn {
        margin-bottom: 16px;
    }

    .letter-attention {
        font-size: 10px;
        line-height: 12px;
        max-width: 254px;
    }

    .letter-img {
        position: absolute;
        bottom: -100px;
        left: 358px;
        width: 280px;
    }
}

@media (max-width: 767px) {
    .letter {
        padding: 60px 0px 90px 0px;
        background-color: var(--bg-white);
        background-image: url(../assets/mobile/vector-top-mobile.png), url(../assets/mobile/vector-bottom-mobile.png);
        background-repeat: no-repeat, no-repeat;
        background-position: right top -60px, left bottom -150px;
    }

    .letter-author {
        position: relative;
        margin-top: 100px;
        margin-bottom: 20px;

        &::after {
            position: absolute;
            content: '';
            top: -100px;
            left: 0;
            width: 150px;
            height: 134px;
            background-image: url(../assets/mobile/brackets-mobile.png);
        }
    }

    .letter-avatar {
        z-index: 2;
    }

    .letter-nickname {
        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 16.8px;
            color: var(--text-grey-light);
            text-transform: none;
        }
    }

    .letter-text-box {
        gap: 36px;
        margin-bottom: 36px;

        p {
            font-size: 22px;
            line-height: 22.8px;
        }
    }

    .letter-frame {
        background-image: url(../assets/mobile/frame-letter-mobile.png);
        display: block;
        min-height: 198px;
        padding: 35px 0 0 30px;
        margin-bottom: 52px;
    }

    .letter-title {
        font-size: 22px;
        line-height: 26.4px;
        text-align: start;
        margin-bottom: 10px;
    }

    .letter-attention {
        font-size: 10px;
        line-height: 12px;
        max-width: 144px;
    }

    .letter-img {
        position: absolute;
        bottom: -21px;
        left: 194px;
        width: 125px;
    }

    .letter-btn {
        margin-bottom: 0px;
    }
}