.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 5s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-authorization);
        opacity: 0.85;
        z-index: -1;
    }

    &.login-active {
        opacity: 1;
        pointer-events: all;
    }

    &.login-active .login-form {
        transform: scale(1);
        opacity: 1;
    }
}

.login-form {
    position: relative;
    width: 482px;
    max-height: 90vh;
    background-color: var(--bg-register-form);
    background-image: var(--register-background);
    box-shadow: var(--register-shadow);
    position: relative;
    z-index: 1;
    padding: 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    transform: scale(0.1);
    transition: transform 5s ease-out, opacity 5s ease-out;
    opacity: 0;
}

.login-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-black);
    margin-bottom: 20px;
}

.login-fields-basic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.login-input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login-input-container {
    width: 100%;
    height: 54px;
}

.login-input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--bg-register-input);
    border: 1px solid var(--bg-register-input);
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-input);

    &:hover {
        background-color: var(--bg-blue-hover);
    }

    &:focus {
        background-color: var(--bg-blue-hover);
        border: 1px solid var(--accent-blue-color);
        padding: 22px 16px 10px 16px;
    }

    &:not(:focus) {
        padding: 22px 16px 10px 16px;
    }

    &::placeholder {
        visibility: hidden;
    }

    &:focus+.login-placeholder,
    &:not(:placeholder-shown)+.login-placeholder {
        top: 3px;
        left: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.8px;
        color: var(--text-grey-light);
    }

    &.login-input-error {
        border: 1px solid var(--text-error);
    }
}

.login-placeholder {
    position: absolute;
    left: 16px;
    top: 16px;
    transition: 0.3s ease;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);
    pointer-events: none;
}

.login-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--text-error);
    display: flex;
    align-items: center;
    gap: 6px;

    span {
        line-height: 10px;
    }
}

.login-password {
    position: relative;
    margin-bottom: 23px;
}

.login-pass-eye {
    width: 24px;
    height: 24px;
    color: var(--text-black);
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}

.login-show-text {
    position: absolute;
    bottom: -24px;
    right: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--text-grey-light);
}

.login-error-fix {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.login-remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login-input-remember {
    display: none;

    &:checked+.login-custom-checkbox .login-checkbox-icon {
        opacity: 1;
    }

    &:checked+.login-custom-checkbox::before {
        background-color: var(--bg-accent-blue-color);
        border-color: var(--bg-accent-blue-color);
    }
}

.login-custom-checkbox {
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-color: var(--bg-white);
        border: 2px solid var(--bg-accent-blue-color);
        border-radius: 4px;
        transition: background-color 0.3s;
    }
}

.login-checkbox-icon {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.login-custom-icon {
    color: var(--text-white);
}

.login-forgot {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--text-inactive-grey);
    cursor: pointer;
}

.login-error-message {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--text-error);
    text-align: center;
    margin-bottom: 12px;
}

.login-success-message {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--accent-green-color);
    text-align: center;
    margin-bottom: 12px;
}

.login-btn {
    width: 100%;
    background-color: var(--bg-accent-blue-color);
    padding: 14px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
    margin-bottom: 30px;

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}

.login-link-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-link-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-inactive-grey);
}

.login-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--bg-accent-blue-color);
    text-decoration: underline;
    cursor: pointer;
}

.login-recovery-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.login-recovery-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);
}

.login-recovery-btn {
    margin-bottom: 0;
}

@media (max-width: 767px) {

    /* .login {
        padding: 00px;
    } */

    .login-form {
        width: 100%;
        max-width: 375px;
        max-height: 90vh;
        padding: 40px 24px;
        /* border-radius: 0px; */
    }

    .login-title {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 33.6px;
    }

}