.muc-modal {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.muc-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    color: var(--text-black);
    text-align: center;
}

.muc-content {
    width: 432px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.muc-input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.muc-input-container {
    width: 100%;
    height: 54px;
}

.muc-input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--bg-blue-inactive);
    border: 1px solid var(--bg-blue-inactive);
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-input);

    &:hover {
        background-color: var(--bg-blue-hover);
    }

    &:focus {
        background-color: var(--bg-blue-hover);
        border: 1px solid var(--accent-blue-color);
        padding: 22px 16px 10px 16px;
    }

    &:not(:focus) {
        padding: 22px 16px 10px 16px;
    }

    &::placeholder {
        visibility: hidden;
    }

    &:focus+.muc-placeholder,
    &:not(:placeholder-shown)+.muc-placeholder {
        top: 3px;
        left: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.8px;
        color: var(--text-grey-light);
    }

    &.muc-input-error {
        border: 1px solid var(--text-error);
    }
}

.muc-placeholder {
    position: absolute;
    left: 16px;
    top: 16px;
    transition: 0.3s ease;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);
    pointer-events: none;
}

.muc-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--text-error);
    display: flex;
    align-items: center;
    gap: 6px;

    span {
        line-height: 10px;
    }
}

.muc-password {
    position: relative;
    margin-bottom: 23px;
}

.muc-pass-eye {
    width: 24px;
    height: 24px;
    color: var(--text-black);
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}

.muc-show-text {
    position: absolute;
    bottom: -24px;
    right: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--text-grey-light);
}

.muc-error-fix {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.muc-box-btn {
    width: 432px;
    display: flex;
    justify-content: space-between;
}

.muc-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 30px;
    padding: 14px 36px;
    transition: all 0.25s ease;
}

.muc-btn-cancel {
    color: var(--accent-blue-color);
    border: 1px solid var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        border: 1px solid var(--accent-dark-blue-color);
        color: var(--accent-dark-blue-color);
    }
}

.muc-btn-save {
    color: var(--text-white);
    background-color: var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}

@media (max-width: 767px) {
    .muc-modal {
        width: 100%;
        padding: 20px 10px;
        gap: 20px;
    }

    .muc-content {
        width: 100%;
    }

    .muc-placeholder {
        font-size: 14px;
        line-height: 22.4px;
    }

    .muc-box-btn {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    .muc-btn {
        font-size: 14px;
        line-height: 14px;
        padding: 14px 16px;
    }
}