.muc-modal {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.muc-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    color: var(--text-black);
    text-align: center;
}

.muc-content {
    width: 432px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.muc-box-btn {
    width: 432px;
    display: flex;
    justify-content: space-between;
}

.muc-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 30px;
    padding: 14px 36px;
    transition: all 0.25s ease;
}

.muc-btn-cancel {
    color: var(--accent-blue-color);
    border: 1px solid var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        border: 1px solid var(--accent-dark-blue-color);
        color: var(--accent-dark-blue-color);
    }
}

.muc-btn-save {
    color: var(--text-white);
    background-color: var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}