.options {
    border-radius: 30px;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 16px 0px #2F7BF626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 38px;
    margin-bottom: 65px;
}

.options-dropdown {
    width: 226px;
}

.options-dropdown-header {
    display: flex;
    align-items: center;
    position: relative;
}

.options-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-grey-light);
    margin-right: 17px;
}

.options-selected {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-black);
    margin-right: 4px;
    cursor: pointer;
}

.options-dropdown-icon {
    width: 24px;
    height: 24px;
    color: var(--text-black);
    cursor: pointer;
}

.options-dropdown-list {
    position: absolute;
    top: 70px;
    left: 110px;
    width: 154px;
    background-color: var(--bg-white);
    padding: 10px 0px;
    border-radius: 10px;
    z-index: 10;
}

.options-dropdown-item {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);
    cursor: pointer;
    padding-left: 14px;

    &:hover {
        background-color: var(--bg-blue-hover);
    }
}

.options-search {
    position: relative;
    width: 519px;
    height: 52px;
}

.options-search-input {
    width: 100%;
    max-width: 519px;
    height: 100%;
    border: 1px solid var(--text-inactive-grey);
    border-radius: 30px;
    background-color: transparent;
    padding: 0px 64px 0px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: var(--text-grey-light);
    }
}

.options-search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    color: var(--text-grey-light);
    transform: translateY(-50%);
}

.options-switcher {
    display: flex;
    align-items: center;
    gap: 13px;
}

.options-switcher-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
}

.options-switcher-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.options-switcher-label {
    color: #4f5e78;
}

.options-switcher-input {
    display: none;

    &:checked+.options-switcher-toggle {
        background-color: var(--accent-dark-blue-color);
    }

    &:checked+.options-switcher-toggle::after {
        transform: translateX(20px);
    }
}

.options-switcher-toggle {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--accent-blue-color);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: var(--bg-white);
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: transform 0.3s ease;
    }
}

.options-switcher-icon {
    color: var(--accent-blue-color);
    opacity: 0.4;
}

.options-switcher-icon-active {
    color: var(--accent-blue-color);
}