.poll {
    padding: 30px;
    background-color: var(--bg-poll-quiz);
}

.poll-question {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-black);
    margin-bottom: 30px;
}

.poll-answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.poll-answer {
    display: flex;
    align-items: center;
    gap: 19px;
}

.poll-answer-button {
    width: 103px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-orange-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--bg-accent-blue-color);

    &:hover {
        background-color: var(--accent-orange-color);
        color: var(--text-white);
    }

    &.selected {
        background-color: var(--accent-orange-color);
        color: var(--text-white);
    }

    &.poll-answer-button-selected {
        background-color: var(--accent-orange-color);
        color: var(--text-white);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.poll-votes {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.poll-progress-bar {
    width: 100%;
    background-color: var(--text-white);
    border-radius: 90px;
    overflow: hidden;
    height: 10px;
    position: relative;
}

.poll-progress {
    height: 100%;
    background-color: var(--bg-accent-blue-color);
    border-radius: 10px;
    transition: width 0.5s ease;
    position: relative;
}

.poll-progress-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);
}

@media (min-width: 768px) and (max-width: 1259px) {
    .poll {
        padding: 20px;

    }

    .poll-question {
        margin-bottom: 20px;
    }

    .poll-answer-button {
        width: 103px;
        height: 36px;
        font-size: 16px;
        line-height: 16px;
    }

    .poll-progress-bar {
        height: 6px;
    }

    .poll-progress-text {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 767px) {
    .poll {
        padding: 20px 0px;
        background-color: transparent;
    }

    .poll-question {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .poll-answers {
        gap: 8px;
    }

    .poll-answer {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .poll-answer-button {
        width: 60px;
        height: 26px;
        font-size: 16px;
        line-height: 16px;
    }

    .poll-progress-bar {
        height: 5px;
    }

    .poll-progress-text {
        font-size: 12px;
    }
}