.details {
    margin-top: 10px;
}

.details-wrapper {
    width: 100%;
    padding: 30px 0;
    background-color: var(--bg-white);
    box-shadow: 0px 4px 16px 0px #2F7BF626;
    border-radius: 30px;
    margin-bottom: 60px;
}

.details-author-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 10px;
}

.details-author-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.details-author-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.details-author-nickname {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
    cursor: pointer;
}

.details-author-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--text-grey-light);
}

.details-author-post-options {
    display: flex;
    align-items: center;
    gap: 28px;
}

.details-back {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-blue-color);
    text-decoration: underline;
}

.details-edit-post-btn {
    padding: 14px 36px;
    background-color: var(--accent-blue-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}

.details-title {
    padding: 0 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-black);
    margin-bottom: 20px;
}

.details-post-img {
    position: relative;
    width: 100%;
    height: 675px;
    margin-bottom: 52px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.details-text {
    padding: 0 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
    margin-bottom: 40px;
}

.details-exam-box {
    padding: 0 40px;
}

.details-border {
    padding: 0 40px;
    margin: 40px 0;

    div {
        width: 100%;
        height: 1px;
        background-color: var(--text-grey-light);
    }
}

.details-options {
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.details-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.details-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: var(--bg-blue-inactive);

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.59px;
        color: var(--text-black);
    }
}

.details-btn-viewComm-box {
    display: none;
}

.details-btn-viewComm {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-grey-dark);
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
        color: var(--accent-blue-color);
    }
}

.details-btn-saved {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: var(--bg-blue-inactive);
    margin-left: auto;
    margin-right: 40px;
}

.details-comments-box {
    margin: 40px 40px 0px 40px;
    padding-top: 30px;
    border: 1px solid var(--bg-blue);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    overflow-y: auto;
    overflow: hidden;
}

.details-comments-scroll {
    position: relative;
    overflow-y: auto;
    max-height: 100%;
    padding-right: 28px;
    display: flex;
    gap: 12px;
    margin-right: 14px;
}

.details-btn-return-box {
    display: flex;
    justify-content: center;
    margin-bottom: 112px;
}

.details-btn-return {
    padding: 20px 56px;
    border: 1px solid var(--accent-blue-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        border: 1px solid var(--accent-dark-blue-color);
        color: var(--accent-dark-blue-color);
    }
}

@media (min-width: 768px) and (max-width: 1259px) {
    .details {
        margin-top: 0px;
    }

    .details-wrapper {
        margin-bottom: 44px;
    }

    .details-author-box {
        padding: 0 30px;
    }

    .details-back {
        gap: 10px;
        font-size: 16px;
        line-height: 16px;
    }

    .details-edit-post-btn {
        padding: 10px 26px;
    }

    .details-title {
        padding: 0 30px;
        font-size: 22px;
        line-height: 26.4px;
        margin-bottom: 10px;
    }

    .details-post-img {
        height: 353px;
        margin-bottom: 32px;
        padding: 0 30px;
    }

    .details-text {
        padding: 0 30px;
        font-size: 16px;
        line-height: 25.6px;
        margin-bottom: 20px;
    }

    .details-exam-box {
        padding: 0 30px;
    }

    .details-border {
        padding: 0 30px;
        margin: 20px 0;
    }

    .details-options {
        padding: 0 30px;
    }

    .details-icons {
        gap: 5px;
    }

    .details-btn-viewComm-box {
        display: block;
    }

    .details-btn-viewComm {
        font-size: 16px;
        line-height: 16px;
    }

    .details-comments-box {
        margin: 30px 30px 0px 30px;
        padding-top: 0px;
        border: none;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        max-height: none;
        overflow: visible;
    }

    .details-comments-scroll {
        overflow: visible;
        padding-right: 0;
        margin-right: 0;
    }

    .details-btn-return-box {
        margin-bottom: 90px;
    }
}

@media (max-width: 767px) {
    .details {
        margin-top: 81px;
    }

    .details-wrapper {
        padding: 40px 0;
        border-radius: 0px;
        margin-bottom: 40px;
    }

    .details-author-post-options {
        justify-content: space-between;
        gap: 0px;
        margin-bottom: 36px;
    }

    .details-back {
        gap: 10px;
        font-size: 16px;
        line-height: 16px;
    }

    .details-edit-post-btn {
        padding: 6px 10px;
        font-size: 16px;
        line-height: 16px;
    }

    .details-author-box {
        padding: 0px;
    }

    .details-title {
        padding: 0px;
        font-size: 22px;
        line-height: 26.4px;
        margin-bottom: 28px;
    }

    .details-post-img {
        max-width: 375px;
        height: 212px;
        margin-bottom: 30px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .details-text {
        padding: 0px;
        font-size: 16px;
        line-height: 25.6px;
        margin-bottom: 20px;
    }

    .details-exam-box {
        padding: 0px;
        background-color: color-mix(in srgb, var(--bg-blue-inactive), rgba(255, 255, 255, 0.3));
    }

    .details-border {
        padding: 0px;
        margin: 20px 0;
    }

    .details-options {
        padding: 0px;
        flex-direction: column;
        align-items: flex-start;
    }

    .details-icons {
        gap: 5px;
        width: 100%;
    }

    .details-icon {
        gap: 3px;
        padding: 4px 6px;

        span {
            font-size: 12px;
            line-height: 12px;
        }
    }

    .details-btn-saved {
        padding: 4px 6px;
        margin-left: auto;
        margin-right: 0;
    }

    .details-btn-viewComm-box {
        display: block;
    }

    .details-btn-viewComm {
        font-size: 16px;
        line-height: 16px;
        gap: 16px;
        padding: 4px 10px;
        border-radius: 20px;
        background-color: var(--bg-dark-white);
    }

    .details-comments-box {
        margin: 0px;
        padding-top: 0px;
        border: none;
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        max-height: none;
        overflow: visible;
    }

    .details-comments-scroll {
        overflow: visible;
        padding-right: 0;
        margin-right: 0;
    }

    .details-btn-return-box {
        margin-bottom: 90px;
    }
}