.profile {
    padding-bottom: 120px;
}

.profile-container {
    max-width: 1440px;
    padding: 0 82px;
    margin: 0 auto;
}

.profile-info {
    position: relative;
    width: 100%;
    background-color: var(--bg-author-info);
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.profile-avatar-img {
    position: absolute;
    top: 189px;
    left: 38px;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-blue-inactive);
    border: 8px solid var(--text-white);
    box-shadow: 0px 4px 16px 0px #2F7BF626;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile-cover {
    width: 100%;
    height: 368px;
    object-fit: cover;
    margin-bottom: 46px;
}

.profile-personal {
    margin-left: 345px;
    margin-bottom: 26px;
    margin-right: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-nickname {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--text-black);
}

.profile-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-grey-light);
}

.profile-line-box {
    padding: 0 38px;
    margin-bottom: 30px;

    div {
        width: 100%;
        height: 1px;
        background-color: var(--text-grey-light);
    }
}

.profile-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 38px;
}

.profile-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-item {
    padding: 4px 20px;
    border-radius: 20px;
    background-color: var(--bg-author-country);

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: var(--text-author-country);
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: var(--text-black);
    }
}

.profile-settings {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-btn-edit {
    padding: 14px 36px;
    border: 1px solid var(--text-accent-blue-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        border: 1px solid var(--accent-dark-blue-color);
        color: var(--accent-dark-blue-color);
    }
}

.profile-btn-create {
    padding: 14px 36px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-white);
    background-color: var(--bg-accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        border: 1px solid var(--accent-dark-blue-color);
        color: var(--accent-dark-blue-color);
    }
}

.profile-btn-set {
    color: var(--text-black);
}

.profile-tabs {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--text-grey-light);
    margin-bottom: 30px;
}

.profile-tabs-btn {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text-grey-light);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transition: color 0.3s;
}

.profile-tabs-btn-active {
    color: var(--text-black);
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--bg-accent-blue-color);
        bottom: -1px;
        left: 0;
    }
}

.profile-about {
    padding: 40px 30px;
    background-color: var(--bg-white);
    border-radius: 30px;
    box-shadow: 0px 4px 16px 0px #2F7BF626;
}

.profile-about-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.profile-about-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    color: var(--text-black);
}

.profile-about-btn-edit {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: underline;
    color: var(--bg-accent-blue-color);
}

.profile-about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
}

.profile-about-text-not-yet {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-grey-light);
}

.profile-about-container {
    position: relative;
    margin-top: 24px;
}

.profile-about-box {
    margin-bottom: 30px;
}

.profile-about-error {
    position: absolute;
    bottom: 63px;
    left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--text-error);
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: var(--bg-blue-inactive) !important;
}

.ql-container.ql-snow {
    height: 145px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    color: var(--text-black) !important;
}

.ql-header.ql-picker {
    display: none;
}

.ql-formats.ql-clean {
    display: none;
}

.profile-about-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

.profile-about-actions-btn {
    padding: 14px 36px;
    border-radius: 30px;
    border: 1px solid var(--bg-accent-blue-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    &.profile-about-actions-btn-close {
        color: var(--bg-accent-blue-color);
    }

    &.profile-about-actions-btn-publish {
        background-color: var(--bg-accent-blue-color);
        color: var(--text-white);
    }
}

.profile-message {
    padding: 40px;
    border: 1px solid var(--bg-blue);
    border-radius: 30px;
}

.profile-message-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-message-item {
    display: flex;
    gap: 13px;
}

.profile-message-avatar {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-blue);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile-message-avatar-initial {
    font-weight: 700;
    font-size: 28px;
    color: var(--text-white);
}

.profile-message-content {
    flex-grow: 1;
    max-width: 100%;
    padding: 15px;
    background-color: var(--bg-form-comment);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.profile-message-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-message-author {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-black);
}

.profile-message-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--text-grey-light);
}

.profile-message-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
}

.profile-message-media {
    width: 326px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
    }
}

.profile-message-noyet-box {
    padding: 20px 10px 20px 13px;
    background-color: var(--bg-blue-inactive);
    border-radius: 10px;
    border-left: 7px solid var(--bg-accent-blue-color);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--bg-accent-blue-color);
    box-shadow: var(--shadow-dropdown);
}

.profile-message-noyet {
    margin-top: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--text-black);
}


@media (min-width: 768px) and (max-width: 1259px) {
    .profile {
        padding-bottom: 90px;
    }

    .profile-avatar-img {
        top: 162px;
        left: 20px;
        width: 176px;
        height: 176px;
        border: 5px solid var(--text-white);
    }

    .profile-cover {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }

    .profile-social {
        height: 30px;
        justify-content: flex-end;
        margin-right: 20px;
        margin-bottom: 35px;
    }

    .profile-nickname {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 40px;
        line-height: 46px;
    }

    .profile-line-box {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .profile-options {
        margin: 0 20px 20px 20px;
    }

    .profile-btn-edit {
        width: 640px;
        margin: 0 20px;
    }

    .profile-btn-create {
        width: 640px;
        margin: 20px 20px 0 20px;
    }

    .profile-tabs {
        gap: 0px;
        margin-bottom: 40px;
    }

    .profile-tabs-btn {
        padding: 18px 10px;
        gap: 6px;
        font-size: 16px;
        line-height: 16px;
    }

    .profile-about-title {
        font-size: 22px;
        line-height: 26.4px;
    }

    .profile-about-btn-edit {
        font-size: 16px;
        line-height: 16px;
    }

    .profile-about-container {
        margin-top: 0px;
    }

    .profile-message {
        padding: 0px;
        border: none;
        border-radius: 0px;
    }

    .profile-message-list {
        gap: 20px;
    }

    .profile-message-item {
        gap: 8px;
    }

    .profile-message-avatar {
        width: 40px;
        height: 40px;
    }

    .profile-message-info {
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }

    .profile-message-author {
        font-size: 14px;
        line-height: 19.6px;
    }

    .profile-message-date {
        font-size: 10px;
        line-height: 12px;
    }

    .profile-message-text {
        font-size: 14px;
        line-height: 16.8px;
    }

    .profile-message-media {
        width: 226px;
    }

}

@media (max-width: 767px) {
    .profile {
        margin-top: 81px;
        padding-bottom: 90px;
    }

    .profile-info {
        width: 100%;
        border-radius: 0px;
        overflow: visible;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .profile-avatar-img {
        top: 162px;
        left: 24px;
        width: 176px;
        height: 176px;
        border: 5px solid var(--text-white);
    }

    .profile-settings {
        position: absolute;
        top: 24px;
        right: 24px;
        justify-content: center;
        gap: 0px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #EFF2F9CC;
    }

    .profile-btn-set {
        width: 28px;
        height: 28px;
        color: var(--text-input);

    }

    .profile-cover {
        height: 250px;
        max-height: 250px;
        margin-bottom: 22px;
    }

    .profile-social-container {
        position: relative;
    }

    .profile-social {
        height: 30px;
        justify-content: flex-end;
        margin-bottom: 38px;
    }

    .profile-nickname {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 10px;
    }

    .profile-line-box {
        padding: 0px;
        margin-bottom: 10px;
    }

    .profile-status {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 20px;
    }

    .profile-btn-edit {
        width: 329px;
        margin-bottom: 20px;
    }

    .profile-btn-create {
        width: 329px;
    }

    .profile-tabs {
        gap: 4px;
    }

    .profile-tabs-btn {
        padding: 14px 10px;
        gap: 6px;
        font-size: 16px;
        line-height: 16px;
    }

    .profile-tabs-btn-active {
        &::after {
            bottom: -2px;
        }
    }

    .profile-about {
        padding: 40px 20px;
    }

    .profile-about-header {
        margin-bottom: 20px;
    }

    .profile-about-title {
        font-size: 22px;
        line-height: 26.4px;
    }

    .profile-about-btn-edit {
        font-size: 16px;
        line-height: 16px;
    }

    .profile-about-error {
        bottom: 47px;
    }

    .profile-about-actions {
        justify-content: center;
    }

    .profile-about-actions-btn {
        padding: 10px 26px;
        font-size: 16px;
        line-height: 16px;
    }

    .profile-message {
        padding: 0px;
        border: none;
        border-radius: 0px;
    }

    .profile-message-list {
        gap: 20px;
    }

    .profile-message-item {
        gap: 8px;
    }

    .profile-message-avatar {
        width: 40px;
        height: 40px;
    }

    .profile-message-content {
        padding: 13px;
    }

    .profile-message-info {
        flex-direction: column;
        align-items: start;
        gap: 4px;
    }

    .profile-message-author {
        font-size: 14px;
        line-height: 19.6px;
    }

    .profile-message-date {
        font-size: 10px;
        line-height: 12px;
    }

    .profile-message-text {
        font-size: 14px;
        line-height: 19.6px;
    }

    .profile-message-media {
        width: 200px;
    }

}