.profile {
    padding-bottom: 120px;
}

.profile-container {
    max-width: 1440px;
    padding: 0 82px;
    margin: 0 auto;
}

.profile-info {
    position: relative;
    width: 100%;
    background-color: var(--bg-white);
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.profile-avatar-img {
    position: absolute;
    top: 199px;
    left: 38px;
    width: 282px;
    height: 282px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-blue-inactive);
    border: 8px solid var(--bg-white);
    box-shadow: 0px 4px 16px 0px #2F7BF626;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile-cover {
    width: 100%;
    max-height: 368px;
    object-fit: cover;
    margin-bottom: 55px;
}

.profile-personal {
    margin: 0px 38px 26px 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-nickname {
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--text-black);
}

.profile-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--text-grey-light);
}

.profile-line-box {
    padding: 0 38px;
    margin-bottom: 30px;

    div {
        width: 100%;
        height: 1px;
        background-color: var(--text-grey-light);
    }
}

.profile-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 38px;
}

.profile-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-item {
    padding: 4px 20px;
    border-radius: 20px;
    background-color: var(--bg-blue-inactive);

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: var(--text-grey-dark);
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: var(--text-black);
    }
}

.profile-settings {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-btn-edit {
    padding: 14px 36px;
    border: 1px solid var(--accent-blue-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-blue-color);

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        border: 1px solid var(--accent-dark-blue-color);
        color: var(--accent-dark-blue-color);
    }
}

.profile-btn-set {
    color: var(--text-black);
}

.profile-tabs {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--text-grey-light);
    margin-bottom: 30px;
}

.profile-tabs-btn {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text-grey-light);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transition: color 0.3s;
}

.profile-tabs-btn-active {
    color: var(--text-black);
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--accent-blue-color);
        bottom: -1px;
        left: 0;
    }
}

.profile-about {
    padding: 40px 30px;
    background-color: var(--bg-white);
    border-radius: 30px;
    box-shadow: 0px 4px 16px 0px #2F7BF626;

    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 33.6px;
        color: var(--text-black);
        margin-bottom: 24px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28.8px;
        color: var(--text-black);
    }
}

.profile-posts,
.profile-saved {
    h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 33.6px;
        color: var(--text-black);
        padding-top: 40px;
        padding-left: 30px;
        margin-bottom: 24px;
    }
}



@media (min-width: 768px) and (max-width: 1259px) {
    .profile {
        padding-bottom: 90px;
    }

    .profile-info {
        margin-bottom: 30px;
    }

    .profile-avatar-img {
        top: 162px;
        left: 20px;
        width: 176px;
        height: 176px;
        border: 5px solid var(--bg-white);
    }

    .profile-cover {
        max-height: 250px;
        margin-bottom: 95px;
    }

    .profile-personal {
        margin: 0px 20px 10px 20px;
    }

    .profile-nickname {
        font-size: 40px;
        line-height: 46px;
    }

    .profile-line-box {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .profile-options {
        margin: 0 20px 20px 20px;
    }

    .profile-btn-edit {
        width: 640px;
        margin: 0 20px;
    }

    .profile-tabs {
        gap: 0px;
        margin-bottom: 40px;
    }

    .profile-tabs-btn {
        padding: 18px 10px;
        gap: 6px;
        font-size: 16px;
        line-height: 16px;
    }

    .profile-about {
        h2 {
            font-size: 22px;
            line-height: 20.8px;
        }
    }

    .profile-posts,
    .profile-saved {
        h2 {
            font-size: 22px;
            line-height: 20.8px;
        }
    }
}

@media (max-width: 767px) {
    .profile {
        margin-top: 81px;
        padding-bottom: 90px;
    }

    .profile-info {
        width: 100%;
        border-radius: 0px;
        overflow: visible;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .profile-avatar-img {
        top: 162px;
        left: 24px;
        width: 176px;
        height: 176px;
        border: 5px solid var(--bg-white);
    }

    .profile-settings {
        position: absolute;
        top: 24px;
        right: 24px;
        justify-content: center;
        gap: 0px;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #EFF2F9CC;
        ;
    }

    .profile-btn-set {
        width: 28px;
        height: 28px;
    }

    .profile-cover {
        height: 250px;
        max-height: 250px;
        margin-bottom: 90px;
    }

    .profile-social-container {
        position: relative;
    }

    .profile-social {
        position: absolute;
        top: -68px;
        right: 24px;
        justify-content: flex-end;
        /* margin-bottom: 38px; */
    }

    .profile-contacts {
        display: none;
    }

    .profile-nickname {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 10px;
    }

    .profile-line-box {
        padding: 0px;
        margin-bottom: 10px;
    }

    .profile-status {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 20px;
    }

    .profile-btn-edit {
        width: 329px;
    }

    .profile-tabs {
        gap: 4px;
    }

    .profile-tabs-btn {
        padding: 14px 10px;
        gap: 6px;
        font-size: 16px;
        line-height: 16px;
    }

    .profile-tabs-btn-active {
        &::after {
            bottom: -2px;
        }
    }

    .profile-about {
        padding: 40px 20px;

        h2 {
            font-size: 22px;
            line-height: 26.4px;
            margin-bottom: 20px;
        }
    }

    .profile-posts,
    .profile-saved {
        h2 {
            font-size: 22px;
            line-height: 26.4px;
            padding-left: 20px;
            margin-bottom: 20px;
        }
    }
}