.quiz {
    padding: 30px;
    background-color: color-mix(in srgb, var(--bg-blue-inactive), rgba(255, 255, 255, 0.3));
}

.quiz-question {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-black);
    margin-bottom: 30px;
}

.quiz-answers {
    display: flex;
    align-items: center;
    gap: 11px;
}

.quiz-answer {
    padding: 14px 36px;
    border: 1px solid var(--accent-orange-color);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--accent-blue-color);

    &:hover {
        background-color: var(--accent-orange-color);
        color: var(--text-white);
    }

    &.quiz-answer-selected {
        background-color: var(--accent-orange-color);
        color: var(--text-white);
    }

    &.quiz-answer-disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

/* ---------------------- */

.quiz-happy-wrapp {
    padding: 20px;
}

.quiz-happy-img-box {
    position: relative;
    width: 100%;
    height: 140px;
}

.quiz-happy-img-robot {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
}

.quiz-happy-content {
    position: relative;
    max-width: 406px;
    padding: 26px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px #00000026;
    border-top: 14px solid var(--accent-green-color);
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.quiz-happy-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color: var(--accent-green-color);
    text-align: center;
}

.quiz-happy-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
    text-align: center;
}

/* ---------------------- */

.quiz-sad-wrapp {
    padding: 20px;
}

.quiz-sad-img-box {
    position: relative;
    width: 100%;
    height: 135px;
}

.quiz-sad-img-robot {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1.2);
}

.quiz-sad-img-hand {
    position: absolute;
    top: 113px;
    right: 114px;
    z-index: 103;
    transform: scale(1.2);
}

.quiz-sad-content {
    position: relative;
    max-width: 406px;
    padding: 26px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px #00000026;
    border-top: 14px solid var(--accent-orange-color);
    background-color: var(--bg-white);
    z-index: 102;
}

.quiz-sad-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    color: var(--accent-orange-color);
    text-align: center;
    margin-bottom: 14px;
}

.quiz-sad-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1259px) {
    .quiz {
        padding: 20px;
    }

    .quiz-answers {
        flex-wrap: wrap;
    }

    .quiz-answer {
        padding: 10px 26px;
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 767px) {
    .quiz {
        padding: 20px 0px;
        background-color: transparent;
    }

    .quiz-question {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .quiz-answers {
        flex-wrap: wrap;
    }

    .quiz-answer {
        padding: 6px 10px;
        font-size: 16px;
        line-height: 16px;
    }

    /* ---------------------- */

    .quiz-happy-wrapp {
        padding: 10px 10px 30px 10px;
    }

    .quiz-happy-img-robot {
        transform: translateX(-50%) scale(1);
    }

    .quiz-happy-content {
        position: relative;
        max-width: 307px;
        padding: 10px 10px 10px 10px;
        border-top: 10px solid var(--accent-green-color);
        gap: 10px;
    }

    .quiz-happy-title {
        font-size: 20px;
        line-height: 10.2px;
    }

    .quiz-happy-text {
        font-size: 14px;
        line-height: 22.8px;
    }

    /* ---------------------- */

    .quiz-sad-wrapp {
        padding: 10px 10px 30px 10px;
    }

    /* .quiz-sad-img-box {
        position: relative;
        width: 100%;
        height: 135px;
    } */

    .quiz-sad-img-robot {
        transform: translateX(-50%) scale(1.1);
    }

    .quiz-sad-img-hand {
        top: 110px;
        right: 70px;
        transform: scale(1.1);
    }

    .quiz-sad-content {
        max-width: 307px;
        padding: 16px 10px 10px 10px;
        border-top: 10px solid var(--accent-orange-color);
    }

    .quiz-sad-title {
        font-size: 20px;
        line-height: 10.2px;
    }

    .quiz-sad-text {
        font-size: 14px;
        line-height: 22.8px;
    }
}