.saved-no-posts {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
    text-align: center;
}

.saved-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.saved-item {
    width: 100%;
    border-radius: 30px;
    background-color: var(--bg-white);
    box-shadow: 0px 4px 16px 0px #2F7BF626;
    overflow: hidden;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

.saved-link {
    display: flex;
}

.saved-left {
    width: 282px;
    height: 217px;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.saved-right {
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    padding: 23px 40px 23px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saved-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.saved-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.saved-author-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.saved-nickname {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-black);
}

.saved-date {
    margin-top: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--text-grey-light);
}

.saved-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: var(--text-black);
    margin-bottom: 8px;
}

.saved-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    color: var(--text-black);
}

@media (min-width: 768px) and (max-width: 1259px) {

    .saved-list {
        gap: 20px;
    }

    .saved-left {
        width: 282px;
        height: 154px;
    }

    .saved-right {
        padding: 20px;
    }

    .saved-nickname {
        font-size: 16px;
        line-height: 16px;
    }

    .saved-title {
        font-size: 22px;
        line-height: 26.4px;
    }

    .saved-text {
        display: none;
    }
}

@media (max-width: 767px) {

    .saved-list {
        gap: 20px;
    }

    .saved-link {
        flex-direction: column;
    }

    .saved-left {
        width: 100%;
    }

    .saved-right {
        padding: 20px;
        gap: 24px;
    }

    .saved-avatar {
        width: 42px;
        height: 42px;
    }

    .saved-author-info {
        align-items: flex-start;
        flex-direction: column;
        gap: 0px;
    }

    .saved-nickname {
        font-size: 16px;
        line-height: 16px;
    }

    .saved-date {
        margin-top: 0px;
        font-size: 12px;
        line-height: 12px;
    }

    .saved-title {
        font-size: 22px;
        line-height: 26.4px;
        margin-bottom: 0px;
    }

    .saved-text {
        display: none;
    }
}