.aboutSlider {
    position: relative;
    padding: 120px 0 120px 0;
    background-color: var(--bg-about);
    background-image: url(../assets/vector.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutSlider-container {
    position: relative;
}

.aboutSlider-slider-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 2;
}

.aboutSlider-slides {
    position: relative;
    width: 100%;
    min-height: 529px;
}

.aboutSlider-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease;
    pointer-events: none;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSlider-slide-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
}

.aboutSlider-prev,
.aboutSlider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #2F7BF64D;
    z-index: 10;

    &:hover {
        background-color: #2F7BF659;
    }
}

.aboutSlider-prev {
    left: -67px;
}

.aboutSlider-next {
    right: -67px;
}

.aboutSlider-navigation {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 16px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.aboutSlider-nav-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2F7BF64D;
    border: none;
    cursor: pointer;

    &.aboutSlider-nav-active {
        background-color: var(--accent-blue-color);
    }
}

.aboutSlider-avatars {
    position: relative;
    max-height: 64px;
    max-width: 168px;
    display: inline-block;
    height: auto;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 50px;
    background: linear-gradient(100.42deg, rgba(47, 123, 247, 0.5) 16.09%, rgba(47, 123, 246, 0.1) 105.27%);
    backdrop-filter: blur(5px);
    margin-bottom: 23px;
}

.aboutSlider-avatars-add {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutSlider-avatars-photo {
    z-index: 1;
    margin-left: -8px;
}

.aboutSlider-content {
    display: flex;
    align-items: center;
    gap: 78px;
}

.aboutSlider-slide-textBox {
    max-width: 408px;
}

.aboutSlider-slide-title {
    position: relative;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    color: var(--text-black);
    margin-bottom: 20px;
}

.aboutSlider-slide-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-black);
}

.aboutSlider-slide-text-indent {
    margin-bottom: 33px;
}

.aboutSlider-slide-star-box {
    position: absolute;
    bottom: 15px;
    right: 0px;
    display: flex;
    padding: 2px 10px 0 10px;
    width: 93px;
    background-color: var(--bg-white);
    border-radius: 100px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.aboutSlider-slide-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 30px;
    padding: 16px 46px;
    color: var(--text-white);
    background-color: var(--bg-accent-blue-color);
    margin-top: 40px;

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }

    &:active {
        background-color: var(--accent-dark-blue-color);
    }
}

.aboutSlider-slide-img {
    height: 529px;
    border-radius: 30px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



@media (min-width: 768px) and (max-width: 1259px) {
    .aboutSlider {
        padding: 90px 0 114px 0;
        background-image: url(../assets/tablet/vector-2-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .aboutSlider-slides {
        min-height: 570px;
    }

    .aboutSlider-content {
        flex-direction: column;
        gap: 0;
    }

    .aboutSlider-tab-title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 16px;
    }

    .aboutSlider-tab-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: var(--text-black);
        margin-bottom: 20px;
    }

    .aboutSlider-tab-title-slide2 {
        margin-bottom: 0;
    }

    .aboutSlider-tab-img {
        width: 90px;
        height: auto;
        margin-top: 8px;
    }

    .aboutSlider-tab-wrapper {
        width: 100%;
        height: 504px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;
    }

    .aboutSlider-tab-wrapper-slide1 {
        background-image: url(../assets/tablet/slide1.png);
    }

    .aboutSlider-tab-wrapper-slide2 {
        background-image: url(../assets/tablet/slide2.png);
    }

    .aboutSlider-tab-wrapper-slide3 {
        background-image: url(../assets/tablet/slide3.png);
    }

    .aboutSlider-tab-wrapper-slide4 {
        background-image: url(../assets/tablet/slide4.png);
    }

    .aboutSlider-avatars {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: auto;
    }

    .aboutSlider-slide-btn {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: auto;
    }

    .aboutSlider-tab-text-box {
        margin-top: auto;
        padding: 20px 30px;
        background: linear-gradient(180deg, rgba(37, 36, 37, 0.6) 0%, rgba(9, 78, 190, 0.6) 122.06%);
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .aboutSlider-tab-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: var(--text-white);
    }

    .aboutSlider-pagination {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        display: flex;
        gap: 16px;
    }

    .aboutSlider-pagination-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #2F7BF64D;
    }

    .aboutSlider-pagination-dot-active {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--bg-accent-blue-color);
    }
}




@media (max-width: 767px) {
    .aboutSlider {
        padding: 60px 0 60px 0;
        background-image: none;
        margin-top: 81px;
    }

    .aboutSlider-slides {
        min-height: 740px;
    }

    .aboutSlider-content {
        flex-direction: column;
        gap: 0;
    }

    .aboutSlider-mob-title {
        position: relative;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: var(--text-black);
    }

    .aboutSlider-mob-title-slide1 {
        margin-bottom: 28px;
    }

    .aboutSlider-mob-title-slide2 {
        margin-bottom: 74px;
    }

    .aboutSlider-mob-title-slide3 {
        margin-bottom: 74px;
    }

    .aboutSlider-mob-title-slide4 {
        margin-bottom: 74px;
    }

    .aboutSlider-avatars {
        position: absolute;
        max-height: 45px;
        max-width: 114px;
        padding: 8px 10px;
        margin-bottom: 0px;
    }

    .aboutSlider-avatars-add {
        width: 28px;
        height: 28px;
    }

    .aboutSlider-avatars-slide1 {
        bottom: 0;
        right: 46px;
    }

    .aboutSlider-mob-img-box {
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 36px;
    }

    .aboutSlider-mob-img {
        position: absolute;
        top: 12px;
        right: 17px;
    }

    .aboutSlider-mob-text-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .aboutSlider-mob-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: var(--text-black);
    }

    .aboutSlider-slide-btn {
        margin-top: 20px;
    }

    .aboutSlider-pagination {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
        display: flex;
        gap: 16px;
    }

    .aboutSlider-pagination-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #2F7BF64D;
    }

    .aboutSlider-pagination-dot-active {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--bg-accent-blue-color);
    }
}