.post {
    display: flex;
    width: 100%;
    border-radius: 12px;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    /* Добавлено для плавного раскрытия */
}

.post-left {
    width: 35%;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

.swiper-pagination {
    bottom: 10px;
    left: 50%;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #fff;
}

.swiper-pagination-bullet-active {
    background: #de5900e7;
}

.post-right {
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-avarar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;

    img {
        object-fit: cover;
    }
}

.post-author {
    font-size: 12px;
    font-weight: 600;
}

.post-date {
    font-weight: 300;
}

.post-center {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.post-title {
    font-size: 20px;
    font-weight: 600;
}

.post-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.post-icon {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        font-size: 20px;
        font-weight: 600;
    }
}

.post-more-btn {
    transition: all 0.25s;

    &:hover {
        color: #de5900e7;
        transform: scale(1.2);
    }
}

/* ------------------------------------------------------ */

.postExp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
    border-radius: 12px;
    background-color: #ffffff;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    /* Добавлено для плавного раскрытия */
}

.transition-post {
    transition: all 1s ease;
    /* Плавный переход */
}

.postExp-top {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 20px;
}

.postExp-center {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.postExp-title-box {
    padding: 0 20px;
}

.postExp-title {
    font-size: 36px;
    font-weight: 600;
}

.postExp-img {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }

    video {
        width: 100%;
        height: auto;
    }
}

.postExp-text-box {
    padding: 0 20px;
}

.postExp-quiz {
    padding: 0 20px 12px 20px;
    border-bottom: 1px solid #00000052;
}

.postExp-btn-viewComm-box {
    padding: 0 20px;
}

.postExp-btn-viewComm {
    color: #de5900e7;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: #00000052;
    }
}

.postExp-comments-box {
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #00000052;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 350px;
    /* overflow-y: auto; */
    overflow: hidden;
}

.postExp-comments-scroll {
    position: relative;
    overflow-y: auto;
    /* Активируем скролл внутри внутреннего блока */
    max-height: 100%;
    /* Ограничиваем высоту внутреннего блока */
    padding-right: 10px;
    /* Отступ для скроллбара */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.postExp-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}