.navbar {
    padding: 29px 0 26px 0;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 15px;

    h2 {
        font-family: "Rubik", sans-serif;
        font-size: 26px;
        font-weight: 700;
        color: var(--accent-blue-color);
    }
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 56px;
}

.navbar-link {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-grey-dark);
}

.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 13px;
}

.navbar-register {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--accent-blue-color);
    border: 1px solid var(--accent-blue-color);
    border-radius: 30px;
    padding: 14px 36px;
    transition: all 0.25s ease;

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}

.navbar-login {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--text-white);
    background-color: var(--accent-blue-color);
    border-radius: 30px;
    padding: 14px 36px;
    transition: all 0.25s ease;

    &:hover {
        box-shadow: 0px 4px 4px 0px #2F7BF640;
    }
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-info {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navbar-nickname {
    font-size: 12px;
    font-weight: 600;
}

.navbar-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-logout {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
        color: #de5900e7;
    }
}