.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background-color: white;
    padding: 40px;
    border: 2px solid #de5900e7;
    border-radius: 8px;
    text-align: center;

    button {
        margin-top: 15px;
        padding: 10px 20px;
        background-color: #de5900e7;
        color: #ffffff;
        border: 1px solid #de5900e7;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #ffffff;
            color: #de5900e7;
        }
    }
}