@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background: url('./assets/background.png') center / cover no-repeat;

    --bg-blue: #BCD8FF;
    --bg-white: #ffffff;
    --bg-dark-white: #FBFBFB;
    --bg-blue-inactive: #EFF2F9;
    --bg-blue-hover: #EFF2F980;

    --accent-blue-color: #2F7BF6;
    --accent-dark-blue-color: #094EBE;
    --accent-yellow-color: #FFD90F;
    --accent-orange-color: #FDB730;
    --accent-green-color: #70C56F;

    --text-black: #252425;
    --text-grey-dark: #787878;
    --text-white: #ffffff;
    --text-input: #212121;
    --text-grey-light: #ADACAC;
    --text-error: #F63B3B;
    --text-inactive-grey: #BDBDBD;
}

body {
    background: var(--background);
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
}

/* Стиль для общей области скроллбара */
::-webkit-scrollbar {
    width: 13px;
    /* ширина для вертикального скролла */
    height: 13px;
    /* высота для горизонтального скролла */
}

/* Стиль для ползунка (ползущей части скроллбара) */
::-webkit-scrollbar-thumb {
    background-color: var(--text-grey-light);
    /* полупрозрачный черный */
    border-radius: 90px;
    /* закругленные края */
    border: 3px solid transparent;
    background-clip: padding-box;
}

/* Стиль для области трека */
::-webkit-scrollbar-track {
    background-color: var(--bg-blue-inactive);
    /* полупрозрачный фон трека */
    border-radius: 90px;
}

@media (min-width: 768px) and (max-width: 1259px) {

    /* Стиль для общей области скроллбара */
    ::-webkit-scrollbar {
        width: 8px;
        /* ширина для вертикального скролла */
        height: 8px;
        /* высота для горизонтального скролла */
    }
}

@media (max-width: 767px) {

    /* Стиль для общей области скроллбара */
    ::-webkit-scrollbar {
        width: 8px;
        /* ширина для вертикального скролла */
        height: 8px;
        /* высота для горизонтального скролла */
    }
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font-family: "Nunito Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    outline: none;
    border: none;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1259px) {
    .container {
        max-width: 768px;
        padding: 0 44px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 375px;
        padding: 0 24px;
    }
}

/* import { useMediaQuery } from "react-responsive"; */

/* const isMobile=useMediaQuery({query: "(max-width: 767px)"}); */

/* const isTablet=useMediaQuery({query: "(min-width: 768px) and (max-width: 1259px)"}); */

/* @media (min-width: 768px) and (max-width: 1259px) {} */

/* @media (max-width: 767px) {} */

/* ----------- Swiper ------------- */

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ------------------ Swiper CollapsedPost --------------- */

.collapsed-swiper-pagination {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    bottom: 5px !important;
    left: 50% !important;
    transform: translateX(-50%);
    background: #2F7BF633;
    padding: 2px 8px;
    border-radius: 6px;
    width: auto !important;

}

.collapsed-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--bg-white);
    opacity: 0.7;
    cursor: pointer;
}

.collapsed-bullet-active {
    background-color: var(--bg-white);
    opacity: 1;
    cursor: pointer;
}

.collapsed-swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F7BF659;
    z-index: 10;
    cursor: pointer;

    &.in-activ {
        background-color: #2F7BF64D;
    }
}

.collapsed-swiper-button-prev {
    left: 8px;
}

.collapsed-swiper-button-next {
    right: 8px;
}

.collapsed-button-disabled {
    cursor: none;
}

/* ------------------ Swiper ExpandedPost --------------- */

.expanded-swiper-pagination {
    position: absolute;
    bottom: -24px !important;
    left: 50% !important;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background: transparent;
    padding: 2px 8px;
    border-radius: 6px;
    width: auto !important;
    z-index: 1;
}

.expanded-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--accent-blue-color);
    opacity: 0.3;
    cursor: pointer;
}

.expanded-bullet-active {
    background-color: var(--accent-blue-color);
    opacity: 1;
    cursor: pointer;
}

.expanded-swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F7BF659;
    z-index: 10;
    cursor: pointer;

    &.in-activ {
        background-color: #2F7BF64D;
    }
}

.expanded-swiper-button-prev {
    left: 25px;
}

.expanded-swiper-button-next {
    right: 25px;
}

.expanded-button-disabled {
    cursor: none;
}

@media (min-width: 768px) and (max-width: 1259px) {
    .expanded-swiper-pagination {
        gap: 10px;
    }

    .expanded-bullet {
        width: 5px;
        height: 5px;
    }

    .expanded-bullet-active {
        background-color: var(--accent-blue-color);
        opacity: 1;
        cursor: pointer;
    }

    .expanded-swiper-button {
        width: 32px;
        height: 32px;
    }

    .expanded-swiper-button-prev {
        left: 15px;
    }

    .expanded-swiper-button-next {
        right: 15px;
    }
}

@media (max-width: 767px) {
    .expanded-swiper-button {
        display: none;
    }

    .expanded-swiper-pagination {
        gap: 6px;
    }

    .expanded-bullet {
        width: 5px;
        height: 5px;
    }
}

/* ----------- Modal windows ------------ */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 20px;
}

.modal {
    position: relative;
    background-color: var(--bg-white);
    border-radius: 30px;
    box-shadow: 0px 0px 30px 0px #2524254D;
}

.modal-btn-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-dark-white);
    box-shadow: 0px 0px 5px 0px rgba(37, 36, 37, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {

    .modal-overlay {
        padding: 20px 24px;
    }

    .modal {
        width: 100%;
        max-width: 327px;
        max-height: 100%;
    }

}