@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import './style/resize.css';

@import './style/typography.css';
@import './style/button.css';
@import './style/avatar.css';

@import './style/general.css';

@import './style/components/navbar.css';
@import './style/components/navbarGuest.css';
@import './style/components/navbarUser.css';
@import './style/components/logo.css';
@import './style/components/btnMobMenu.css';

@import './style/components/hero.css';

@import './style/components/dropdownSort.css';
@import './style/components/searchInput.css';
@import './style/components/viewModelToggle.css';
@import './style/components/themeSwitcher.css';
@import './style/components/themeSwitcherMobile.css';

@import './style/components/aboutProject.css';

@import './style/components/shareBlok.css';

@import './style/components/postsList.css';

@import './style/components/mediaCarousel.css';

@import './style/components/gridPost.css';
@import './style/components/flexPost.css';

@import './style/components/slider.css';
@import './style/components/sliderDesk.css';
@import './style/components/sliderTablet.css';
@import './style/components/sliderMobile.css';
@import './style/components/sliderAvatar.css';

@import './style/components/howItWorks.css';

@import './style/components/ourTeam.css';

@import './style/components/letterDesk.css';
@import './style/components/letterTablet.css';
@import './style/components/letterMobile.css';

@import './style/components/footer.css';

@import './style/components/cardProfileDesk.css';
@import './style/components/cardProfileTab.css';
@import './style/components/cardProfileMob.css';

@import './style/components/tabs.css';

@import './style/components/aboutMe.css';

@import './style/components/infoBoard.css';

@import './style/components/entry.css';

@import './style/components/privacy.css';

@import './style/components/popularPosts.css';








:root {
    --background: url('./assets/background.png') center / cover no-repeat;
    --bg-blue: #BCD8FF;
    --bg-authorization: #BCD8FF;
    --bg-register-form: #ffffff;
    --bg-white: #ffffff;
    --bg-dropdown-navbar: #ffffff;
    --bg-dark-white: #FBFBFB;
    --bg-blue-inactive: #EFF2F9;
    --bg-blue-inactive-hover: #EFF2F966;
    --bg-blue-hover: #EFF2F980;
    --bg-accent-blue-color: #2F7BF6;
    --bg-navbar-overlay: #EFF2F9;
    --bg-mobile-menu: #ffffff;
    --bg-switcher: #ffffff;
    --bg-about: #BCD8FF;
    --bg-icon-wrapp: #EFF2F9;
    --bg-howitwork: #EFF2F9;
    --bg-letter: #FFFFFFB2;
    --bg-scroll-thumb: #ADACAC;
    --bg-scroll-track: #EFF2F9;
    --bg-form-comment: #EFF2F9;
    --bg-form-comment-options: #ADACAC1A;
    --bg-post-wrapp: #ffffff;
    --bg-poll-quiz: #EFF2F94D;
    --bg-author-info: #ffffff;
    --bg-author-country: #EFF2F9;
    --shadow-dropdown: 0px 0px 10px 0px #01010114;

    --bg-modal-overlay: rgba(250, 250, 250, 0.5);
    --bg-modal: #ffffff;
    --bg-modal-shadow: 0px 0px 5px 0px rgba(37, 36, 37, 0.1);
    --bg-modal-btn: #FBFBFB;
    --bg-modal-btn-shadow: 0px 0px 5px 0px rgba(37, 36, 37, 0.1);
    --bg-modal-box-content: #ffffff;

    --register-background: none;
    --register-shadow: 0px 4px 16px 0px #8DD3BB26;
    --bg-register-input: #EFF2F9;
    --bg-register-drop-list: #ffffff;

    --quiz-modal-background: none;

    --accent-dark-blue-color: #094EBE;
    --accent-yellow-color: #FFD90F;
    --accent-orange-color: #FDB730;
    --accent-green-color: #70C56F;

    --text-accent-blue-color: #2F7BF6;
    --text-black: #252425;
    --text-not-change: #787878;
    --text-grey-dark: #787878;
    --text-white: #ffffff;
    --text-input: #212121;
    --text-grey-light: #ADACAC;
    --text-error: #F63B3B;
    --text-inactive-grey: #BDBDBD;
    --text-more-reply: #787878;
    --text-author-country: #787878;
    --text-icon-settings: #252425;
}

[data-theme="dark"] {
    --background: url('./assets//background-dark.png') center / cover no-repeat;
    --bg-white: #4242421a;
    --bg-dropdown-navbar: #061728fa;
    --bg-blue: #094EBE80;
    --bg-dark-white: #fbfbfb5e;
    --bg-blue-inactive: #01111F80;
    --bg-navbar-overlay: #01111F;
    --bg-mobile-menu: #01111F;
    --bg-switcher: #ffffff;
    --bg-about: #094EBE33;
    --bg-icon-wrapp: #EFF2F933;
    --bg-howitwork: #ffffff06;
    --bg-letter: #094EBE33;
    --bg-scroll-thumb: #444444;
    --bg-scroll-track: #092548;
    --bg-form-comment: #EFF2F91A;
    --bg-form-comment-options: #ADACAC1A;
    --bg-post-wrapp: #1f344c;
    --bg-poll-quiz: #EFF2F91A;
    --bg-author-info: #094EBE4D;
    --bg-author-country: #EFF2F91A;
    --shadow-dropdown: 0px 0px 10px 0px #ffffff3a;

    --bg-modal-overlay: #01111f71;
    --bg-modal: #01111FCC;
    --bg-modal-shadow: 0px 4px 16px 0px #2F7BF6;
    --bg-modal-btn: #01111F;
    --bg-modal-btn-shadow: 0px 0px 5px 0px #2524251A;
    --bg-modal-box-content: #01111F;

    --bg-authorization: #01111F;
    --bg-register-form: #01111F;
    --register-background: url(./assets/register-gradient.png);
    --register-shadow: 0px 4px 16px 0px #2F7BF6;
    --bg-register-input: #EFF2F933;
    --bg-register-drop-list: #01111F80;

    --quiz-modal-background: url(./assets/quiz-modal-gradient.png);

    --text-accent-blue-color: #ffffff;
    --text-black: #ffffff;
    --text-grey-dark: #ffffff;
    --text-grey-light: #FFFFFF66;
    --text-more-reply: #FFFFFF66;
    --text-author-country: #FFFFFF66;
    --text-input: #191919;
}

body {
    background: var(--background);
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
}

/* import { useMediaQuery } from "react-responsive"; */

/* const isMobile=useMediaQuery({query: "(max-width: 767px)"}); */

/* const isTablet=useMediaQuery({query: "(min-width: 768px) and (max-width: 1259px)"}); */

/* @media (min-width: 768px) and (max-width: 1259px) {} */

/* @media (max-width: 767px) {} */

/* ----------- Modal windows ------------ */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-modal-overlay);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 20px;
}

.modal {
    position: relative;
    background-color: var(--bg-modal);
    border-radius: 30px;
    box-shadow: var(--bg-modal-shadow);
}

.modal-btn-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-modal-btn);
    box-shadow: var(--bg-modal-btn-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {

    .modal-overlay {
        padding: 20px 24px;
    }

    .modal {
        width: 100%;
        max-width: 327px;
        max-height: 100%;
    }

}