@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import './style/resize.css';

@import './style/typography.css';
@import './style/button.css';
@import './style/avatar.css';

@import './style/general.css';

@import './style/components/navbar.css';
@import './style/components/navbarGuest.css';
@import './style/components/navbarUser.css';
@import './style/components/logo.css';
@import './style/components/btnMobMenu.css';

@import './style/components/hero.css';

@import './style/components/dropdownSort.css';
@import './style/components/searchInput.css';
@import './style/components/viewModelToggle.css';
@import './style/components/themeSwitcher.css';
@import './style/components/themeSwitcherMobile.css';

@import './style/components/aboutProject.css';

@import './style/components/shareBlok.css';

@import './style/components/postsList.css';

@import './style/components/mediaCarousel.css';

@import './style/components/gridPost.css';
@import './style/components/flexPost.css';

@import './style/components/slider.css';
@import './style/components/sliderDesk.css';
@import './style/components/sliderTablet.css';
@import './style/components/sliderMobile.css';
@import './style/components/sliderAvatar.css';

@import './style/components/howItWorks.css';

@import './style/components/ourTeam.css';

@import './style/components/letterDesk.css';
@import './style/components/letterTablet.css';
@import './style/components/letterMobile.css';

@import './style/components/footer.css';

@import './style/components/cardProfileDesk.css';
@import './style/components/cardProfileTab.css';
@import './style/components/cardProfileMob.css';

@import './style/components/tabs.css';

@import './style/components/aboutMe.css';

@import './style/components/infoBoard.css';

@import './style/components/entry.css';

@import './style/components/privacy.css';

@import './style/components/popularPosts.css';

@import './style/components/form.css';

@import './style/components/replyForm.css';

@import './style/components/reply.css';

:root {
  --background: url('./assets/background.png') center / cover no-repeat;
  --bg-blue: #bcd8ff;
  --bg-authorization: #bcd8ff;
  --bg-register-form: #ffffff;
  --bg-white: #ffffff;
  --bg-dropdown-navbar: #ffffff;
  --bg-dark-white: #fbfbfb;
  --bg-blue-inactive: #eff2f9;
  --bg-blue-inactive-hover: #eff2f966;
  --bg-blue-hover: #eff2f980;
  --bg-accent-blue-color: #2f7bf6;
  --bg-navbar-overlay: #eff2f9;
  --bg-mobile-menu: #ffffff;
  --bg-switcher: #ffffff;
  --bg-about: #bcd8ff;
  --bg-icon-wrapp: #eff2f9;
  --bg-howitwork: #eff2f9;
  --bg-letter: #ffffffb2;
  --bg-scroll-thumb: #adacac;
  --bg-scroll-track: #eff2f9;
  --bg-form-comment: #eff2f9;
  --bg-form-comment-options: #adacac1a;
  --bg-post-wrapp: #ffffff;
  --bg-poll-quiz: #eff2f94d;
  --bg-author-info: #ffffff;
  --bg-author-country: #eff2f9;
  --shadow-dropdown: 0px 0px 10px 0px #01010114;

  --bg-modal-overlay: rgba(250, 250, 250, 0.5);
  --bg-modal: #ffffff;
  --bg-modal-shadow: 0px 0px 5px 0px rgba(37, 36, 37, 0.1);
  --bg-modal-btn: #fbfbfb;
  --bg-modal-btn-shadow: 0px 0px 5px 0px rgba(37, 36, 37, 0.1);
  --bg-modal-box-content: #ffffff;

  --register-background: none;
  --register-shadow: 0px 4px 16px 0px #8dd3bb26;
  --bg-register-input: #eff2f9;
  --bg-register-drop-list: #ffffff;

  --quiz-modal-background: none;

  --accent-dark-blue-color: #094ebe;
  --accent-yellow-color: #ffd90f;
  --accent-orange-color: #fdb730;
  --accent-green-color: #70c56f;

  --text-accent-blue-color: #2f7bf6;
  --text-black: #252425;
  --text-not-change: #787878;
  --text-grey-dark: #787878;
  --text-white: #ffffff;
  --text-input: #212121;
  --text-grey-light: #adacac;
  --text-error: #f63b3b;
  --text-inactive-grey: #bdbdbd;
  --text-more-reply: #787878;
  --text-author-country: #787878;
  --text-icon-settings: #252425;
}

[data-theme='dark'] {
  --background: url('./assets//background-dark.png') center / cover no-repeat;
  --bg-white: #4242421a;
  --bg-dropdown-navbar: #061728fa;
  --bg-blue: #094ebe80;
  --bg-dark-white: #fbfbfb5e;
  --bg-blue-inactive: #01111f80;
  --bg-navbar-overlay: #01111f;
  --bg-mobile-menu: #01111f;
  --bg-switcher: #ffffff;
  --bg-about: #094ebe33;
  --bg-icon-wrapp: #eff2f933;
  --bg-howitwork: #ffffff06;
  --bg-letter: #094ebe33;
  --bg-scroll-thumb: #444444;
  --bg-scroll-track: #092548;
  --bg-form-comment: #eff2f91a;
  --bg-form-comment-options: #adacac1a;
  --bg-post-wrapp: #1f344c;
  --bg-poll-quiz: #eff2f91a;
  --bg-author-info: #094ebe4d;
  --bg-author-country: #eff2f91a;
  --shadow-dropdown: 0px 0px 10px 0px #ffffff3a;

  --bg-modal-overlay: #01111f71;
  --bg-modal: #01111fcc;
  --bg-modal-shadow: 0px 4px 16px 0px #2f7bf6;
  --bg-modal-btn: #01111f;
  --bg-modal-btn-shadow: 0px 0px 5px 0px #2524251a;
  --bg-modal-box-content: #01111f;

  --bg-authorization: #01111f;
  --bg-register-form: #01111f;
  --register-background: url(./assets/register-gradient.png);
  --register-shadow: 0px 4px 16px 0px #2f7bf6;
  --bg-register-input: #eff2f933;
  --bg-register-drop-list: #01111f80;

  --quiz-modal-background: url(./assets/quiz-modal-gradient.png);

  --text-accent-blue-color: #ffffff;
  --text-black: #ffffff;
  --text-grey-dark: #ffffff;
  --text-grey-light: #ffffff66;
  --text-more-reply: #ffffff66;
  --text-author-country: #ffffff66;
  --text-input: #191919;
}

body {
  background: var(--background);
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
}

/* import { useMediaQuery } from "react-responsive"; */

/* const isMobile=useMediaQuery({query: "(max-width: 767px)"}); */

/* const isTablet=useMediaQuery({query: "(min-width: 768px) and (max-width: 1259px)"}); */

/* @media (min-width: 768px) and (max-width: 1259px) {} */

/* @media (max-width: 767px) {} */

/* ----------- Modal windows ------------ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-modal-overlay);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 20px;
}

.modal {
  position: relative;
  background-color: var(--bg-modal);
  border-radius: 30px;
  box-shadow: var(--bg-modal-shadow);
}

.modal-btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-modal-btn);
  box-shadow: var(--bg-modal-btn-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .modal-overlay {
    padding: 20px 24px;
  }

  .modal {
    width: 100%;
    max-width: 327px;
    max-height: 100%;
  }
}
